<h3>Detalhe Noticia</h3>
<table>
    
        <th>ID</th>
        <th>Titulo</th>
        <th>Notícia</th>
    
    <tr>
        <td> <%= noticia[0].id%>
        </td>
        <td> <%= noticia[0].titulo%>
        </td>
        <td> <%= noticia[0].noticia%>
        </td>
    </tr>
</table>